@{
    ViewBag.Title = "ataturk_kosesi";
}
<div class="bg-page-wrp">
    <img class="yemek-bg-pos ataturk-bg-pos" src="Content/Images/Ataturk-photo.jpg" />
</div>
<div class="p-content">
    <div class="p-cont-header clearfix ">
        <h1 class="atat-large-title"><span class="large-slant-line"></span>ATATÜRK KÖSESI</h1>
        <h3 class="atat-sub-title">ÇOCUKLUGU</h3>
    </div>
    <div class="cont-wrp atat-wrp">
        <p>Sene 1881... </p>
        <p>
            Ali Rıza ve Zübeyde çiftinin sarı saçlı mavi gözlü bir erkek çocukları olur. Çocuklarının kaderinin bir ulusun kaderine yazılacağını bilmeden Mustafa koyarlar adını. Üç çocuğunu daha küçük yaşta toprağa veren Zübeyde Hanım, Ali Rıza Bey’in de vefatıyla Mustafa ve Makbule adındaki iki küçük çocuğunu da yanına alarak kardeşinin Langaza’daki çiftliğine gider. Mustafa, orada eğitimine ara vermek zorunda kalır. Tarladaki kargaları kovalamakla birlikte büyük hayaller kurar aslında... Yokluktan oyuncaklar yapar mesela... Etraftaki çalı çırpıları toplar, kulübeler inşa eder ve en güzel köşesine de mutlaka kız kardeşi Makbule’yi oturtur. Tahtadan bağlamalar yapar, bir de onlara tel takar. Yöredeki çingene çocuklarla arkadaştır ve onlara
            bağlamasıyla türküler çalar. Manastır vardır hep türkülerinde. Doğduğu toprakları çok sever çünkü Mustafa...
        </p>

        <div class="dev-arr-wrp dev-with-text">
            <a href="#">devam</a>
        </div>
    </div>
</div>




