@{
    ViewBag.Title = "gazete_diltas";
}
<div class="bg-page-wrp js-bg-img-wrp js-gaz-bg-anim">
    <img class="gaz-img-1-pos" data-show-mode="top-left-percent" data-top="59.25%" data-left="29.28%" src="Content/Images/gaz-img-1.png" />
    <img class="gaz-img-2-pos" data-show-mode="top-left-percent" data-top="23px" data-left="59.12%" src="Content/Images/gaz-img-2.png" />
    <img class="gaz-img-3-top-pos" data-show-mode="top" data-top="-30px" src="Content/Images/gaz-img-3-top.png" />
    <img class="gaz-img-4-bottom-pos" data-show-mode="bottom" data-bottom="-69px" src="Content/Images/gaz-img-4-bottom.png" />
    <img class="gaz-img-5-pos" data-show-mode="top-left-percent" data-top="65.29%" data-left="72.56%" src="Content/Images/gaz-img-5.png" />
    <img class="gaz-paper-right-pos" data-show-mode="right" data-right="-238px" src="Content/Images/gaz-paper-right.png" />
</div>
<div class="p-content">
    <div class="p-cont-header clearfix ">
        <h2 class="gaz-large-title"><span class="slant-line"></span>GAZETE DİLTAŞ</h2>
    </div>
    <div class="cont-wrp gaz-wrp">
        <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor</p>
        <div class="pdf-down-wrp js-pdf-down-wrp" id="div1">        
            <a class="download-pdf-btn" target="_blank" href="Files/gazete_diltas.pdf"></a>
        </div>
        <div class="js-line">
            <div id="line"></div>
        </div>
        <div class="slide-wrp">
            <img style="display:none" src="Content/Images/temporary-gaz-slide.png" />
            <div class="d-slides js-d-slides">
                <div class="d-slide new-prev" data-slide-type="1" data-pdf="temp_gazete_diltas.pdf">
                    <img src="Content/Images/slide-1-type.png" />
                    <span>8. Sayı</span>
                </div>
                <div class="d-slide before-prev-slide" data-slide-type="3" data-state="before-prev-slide" data-pdf="temp_gazete_diltas.pdf">
                    <img src="Content/Images/slide-3-type.png" />
                    <span>9. Sayı</span>
                </div>
                <div class="d-slide prev-slide" data-slide-type="2" data-state="prev-slide" data-pdf="temp_hakkimizda.pdf">
                    <img src="Content/Images/slide-2-type.png" />
                    <span>10. Sayı</span>
                </div>
                <div class="d-slide active-slide" id="div2" data-slide-type="1" data-state="active-slide" data-pdf="temp_slides.pdf">
                    <img src="Content/Images/slide-1-type-blue.png" />
                    <span>11. Sayı</span>
                </div>
                <div class="d-slide next-slide" data-slide-type="2" data-state="next-slide" data-pdf="temp_gazete_diltas.pdf">
                    <img src="Content/Images/slide-2-type.png" />
                    <span>12. Sayı</span>
                </div>
                <div class="d-slide after-next-slide" data-slide-type="3" data-state="after-next-slide" data-pdf="temp_hakkimizda.pdf">
                    <img src="Content/Images/slide-3-type.png" />
                    <span>13. Sayı</span>
                </div>
                <div class="d-slide new-next" data-slide-type="1" data-pdf="temp_gazete_diltas.pdf">
                    <img src="Content/Images/slide-1-type.png" />
                    <span>14. Sayı</span>
                </div>
            </div>
        </div>
    </div>
</div>



