@{
    ViewBag.Title = "haber_arşivi_sm";
}
<div class="p-content">
    <div class="p-cont-header clearfix ">
        <h3><span class="slant-line desk-hidden"></span>HABER ARŞİVİ</h3>
    </div>
    <div class="cont-wrp haber-arsivi-wrp">
        <span class="slant-line mob-hidden"></span>
        <div class="haber-item js-haber-item">
            <span>24 Ağustos 2014</span>
            <a data-toggle="modal" href="#haberItemPopup">Diltaş'ın TEOG Zaferi</a>
            <p>
                Özel Diltaş Eğitim Kurumları TEOG'da üstün başarı sağladı. Çok sayıda öğrenci Fen lisesine,
                Anadolu lisesine ve meslek liselerine yerleşti.
            </p>
        </div>
        <div class="haber-item js-haber-item">
            <span>4 Haziran 2014</span>
            <a data-toggle="modal" href="#haberItemPopup">Diltaş'ın TEOG Zaferi</a>
            <p>
                Özel Diltaş Eğitim Kurumları TEOG'da üstün başarı sağladı. Çok sayıda öğrenci Fen lisesine,
                Anadolu lisesine ve meslek liselerine yerleşti.
            </p>
        </div>
        <div class="haber-item js-haber-item">
            <span>12 Mayıs 2014</span>
            <a data-toggle="modal" href="#haberItemPopup">Diltaş'ın TEOG Zaferi</a>
            <p>
                Özel Diltaş Eğitim Kurumları TEOG'da üstün başarı sağladı. Çok sayıda öğrenci Fen lisesine,
                Anadolu lisesine ve meslek liselerine yerleşti.
            </p>
        </div>
    </div>
    <div class="dev-arr-wrp dev-with-text">
        <a href="#">devam</a>
    </div>
</div>


<div class="modal lightbox-content fade" id="haberItemPopup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <button type="button" class="close close-btn" data-dismiss="modal"></button>

                <div class="modal-body haber-popup-content js-haber-popup-content">
                </div>
            </div>
        </div>
    </div>
</div>

