@{
    ViewBag.Title = "Hakimizda";
}
<div class="bg-page-wrp js-bg-img-wrp">
    <img class="rg-child-face-pos hidden" data-show-mode="right" data-right="-303px" src="Content/Images/child-face.png" />
</div>
<div class="animsition js-page-glid-trans">
    <div class="p-content hakimizda-content js-page-cont">
        <div class="animsition showed-section js-showed-section">
            <div class="p-cont-header clearfix">
                <h1><span class="above-header-text large-slant-line">DAVET</span>BIRLIKTE OKUYALIM</h1>
            </div>
            <div class="main-davet-wrp">
                <div class="md-img-wrp">
                    <img src="Content/Images/books-main-page.png" />
                </div>
                <a class="blue-btn" href="#">
                    Davet
                    Detayları
                </a>
            </div>
        </div>
        <div class="animsition">
            <div class="p-cont-header clearfix">
                <h1><span class="above-header-text large-slant-line">DAVET</span>BIRLIKTE OKUYALIM</h1>
            </div>
            <div class="main-davet-wrp">
                <div class="md-img-wrp">
                    <img src="Content/Images/books-main-page.png" />
                </div>
                <a class="blue-btn" href="#">
                    Davet
                    Detayları
                </a>
            </div>
        </div>
        <div class="animsition">
            <div class="p-cont-header clearfix">
                <h1><span class="above-header-text large-slant-line">DAVET</span>BIRLIKTE OKUYALIM</h1>
            </div>
            <div class="main-davet-wrp">
                <div class="md-img-wrp">
                    <img src="Content/Images/books-main-page.png" />
                </div>
                <a class="blue-btn" href="#">
                    Davet
                    Detayları
                </a>
            </div>
        </div>
        <div class="animsition">
            <div class="p-cont-header clearfix">
                <h1><span class="above-header-text large-slant-line">DAVET</span>BIRLIKTE OKUYALIM</h1>
            </div>
            <div class="main-davet-wrp">
                <div class="md-img-wrp">
                    <img src="Content/Images/books-main-page.png" />
                </div>
                <a class="blue-btn" href="#">
                    Davet
                    Detayları
                </a>
            </div>
        </div>
    </div>
    <div class="dev-arr-wrp">
        <a class="js-switch-page-section-btn" href="#"></a>
    </div>
</div>