@{
    ViewBag.Title = "mobile_anasayfa";
}
<div class="bg-page-wrp">
    <img class="mob-child-face-pos" src="Content/Images/mobile-child-face.jpg" />
</div>
<div class="p-content">
    <div class="p-cont-header clearfix ">
        <h1 class="anasf-title">
            <span class="large-slant-line"></span>CUMHURİYET’İN
            AYDINLIK YÜZLERİ
        </h1>
    </div>
    <div class="cont-wrp mob-anasf">       
        <p>
            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
        </p>
        <a href="#" class="blue-btn">okulumuzu tanıyın</a>
     </div>
</div>
