
@{
    ViewBag.Title = "veli_ogrenci_el_kitabi";
}
<div class="bg-page-wrp">
    <img class="part-book-pos" src="Content/Images/part-of-book.png" />
</div>
<div class="p-content">
    <div class="p-cont-header clearfix ">
        <h2><span class="slant-line"></span>VELİ - ÖĞRENCİ EL KİTABI</h2>
    </div>
    <div class="cont-wrp vel-ogr-wrp">
       <p>Proin gravida nibh vel velit auctor aliquet. </p>
        <div>
            <img src="Content/Images/veli-sample.png" />
        </div>
    </div>
</div>

